/*global variables*/
:root {
    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-l: 1.5rem;
    --spacing-xl: 2rem;
  
    --radius-xs: 0.25rem;
    --radius-sm: 0.5rem;
    --border-md: 1rem;
  
    /* Global Variables */
    --color-accent: #007bff;
    --color-error: #ff5722;
    --color-success: #4caf50;
  
    /* Light Theme Variables */
    --color-bg-light: #f5f5f5;
    --color-text-light: #333333;
    --color-form-bg-light: #ffffff;
    --color-input-bg-light: #f0f0f0;
    --color-input-border-light: #d1d5db;
    --color-input-text-light: #333333;
    --color-button-bg-light: #4caf50;
    --color-button-hover-light: #3e8e41;
    --color-button-text-light: #ffffff;
    --color-card-bg-light: #ffffff;
    --color-card-border-light: #e0e0e0;
    --color-card-text-light: #333333;
    --color-card-shadow-light: #e0e0e0;
    --color-link-light: #007bff;
  
    /* Dark Theme Variables */
    --color-bg-dark: #121212;
    --color-text-dark: #e5e5e5;
    --color-input-bg-dark: #2c2c2c;
    --color-input-border-dark: #424242;
    --color-input-text-dark: #e5e5e5;
    --color-button-bg-dark: #4caf50;
    --color-button-text-dark: #e5e5e5;
    --color-card-bg-dark: #5e5e5e;
    --color-card-border-dark: #333333;
    --color-card-text-dark: #d3d3d3;
    --color-card-shadow-dark: #000000;
    --color-link-dark: #66bfff;
  }


body {
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    background-color: #444;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

h1, h2 {
    color: #fff;
}

.form-group {
    margin-bottom: 15px;
}

.form-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.form-button:hover {
    background-color: #218838;
}

.noteList {
    margin-top: 20px;
}

.note-item {
    background-color: #fff;
    color: #333;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.note-title {
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 8px;
}

.note-content {
    font-size: 16px;
    margin-bottom: 8px;
}

.note-priority {
    font-size: 14px;
    color: #555;
    font-style: italic;
}
